/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'FS Albert';
  src: url(../fonts/albertlight-webfont.eot);
  src: url(../fonts/albertlight-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/albertlight-webfont.woff2) format("woff2"), url(../fonts/albertlight-webfont.woff) format("woff"), url(../fonts/albertlight-webfont.ttf) format("truetype"), url(../fonts/albertlight-webfont.svg#fs_albert_prolight) format("svg");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'FS Albert';
  src: url(../fonts/albertnormal-webfont.eot);
  src: url(../fonts/albertnormal-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/albertnormal-webfont.woff2) format("woff2"), url(../fonts/albertnormal-webfont.woff) format("woff"), url(../fonts/albertnormal-webfont.ttf) format("truetype"), url(../fonts/albertnormal-webfont.svg#fs_albert_proregular) format("svg");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: 'FS Albert';
  src: url(../fonts/albertthin-webfont.eot);
  src: url(../fonts/albertthin-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/albertthin-webfont.woff2) format("woff2"), url(../fonts/albertthin-webfont.woff) format("woff"), url(../fonts/albertthin-webfont.ttf) format("truetype"), url(../fonts/albertthin-webfont.svg#fs_albert_prothin) format("svg");
  font-weight: 100;
  font-style: normal
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}
body {
  font-family: "FS Albert", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #292929;
}
.status-ticker {
  color: #ef3a24!important;
}
#ttl {
  margin-left: 20px;
}
#ttl h4 {
  margin: 21px 0 0 0;
  color: #292929;
  font-size: 34px;
  font-weight: inherit;
}
#header-tag {
  width: 35px;
  height: 35px;
  margin-top: 23px;
}
#map-col{
  width: 100%;
  padding: 15px;
  margin-left: 5px;
  background: #f9f9f9;
  border: 1px solid #cecece;
}

#rgt-col {
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #cecece;
}
#map-inner {
  width: 100%;
  height: 650px;
  background-image: url('../img/google-map-bg.png');
  background-size: 100% 100%;
  background-position: center center;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.right_col_text_margin_fix {
  line-height: 60px;
}
#usr-schma {
  width: 100%;
  height: 130px;
  padding: 25px 15px 15px;
  background: #f9f9f9;
  border: 1px solid #cecece;
}
#usr-schma .dropdown {
}

#load-usr {
  margin: 15px 0 0 15px;
}
#iphone-console {
  height: 630px;
  margin: 10px 0;
  position: relative;
}
#selected-usr-panel {
  width: 100%;
  height: 537px;
  padding: 15px;
  margin: 15px 15px 0 0;
  border: 1px solid #cecece;
  overflow: scroll;
  background: #f9f9f9;
}
.dropdown-width-fix {
}
#iphone-frm {
  width: 277px;
  height: 588px;
  margin: 70px 0 0 -138.5px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
}
#iphone-scrn {
  width: 238px;
  height: 436px;
  margin: 145px 0 0 -120.5px;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  /*background-image: url("/img/assets/00@2x.png");*/
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#led {
  width: 22px;
  height: 22px;
  background: #e0dfde;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}
#dev-sub-name {
  width: 100%;
  height: 115px;
  padding: 15px 0 0 0;
  border-bottom: 2px solid #cecece;
  box-sizing: border-box;
}
#params {
  max-width: 320px;
  width: 100%;
  height: auto;
  padding: 7px 0;
}
#params .input-group {
  padding: 15px 0;
}
#pos-crtl {
  width: 60px;
  height: 30px;
}
#userDropDown {
  width: 150px;
  height: 70px;
}
.hidden {
  display: none;
}
.device-nickname {
  margin: 0 0 20px 0;
}
.input-group-addon {
  font-size: 12px;
}


.animated-circle{
  position:absolute;
  top:30%;
  left:60%;
}
.pulse-circle, .pulse-circle2{
  border-radius:50%;
  width:2px;
  height:2px;
  position:absolute;
  opacity:0;
  transition: all 5s ease;
}
.pulse-circle{
  -webkit-animation: pulseline 1s ease-out infinite;
  -moz-animation: pulseline 1s ease-out infinite;
  animation: pulseline 1s ease-out infinite;
}
.pulse-circle2{
  -webkit-animation: pulseline 1s ease-out infinite .5s ;
  -moz-animation: pulseline 1s ease-out infinite .5s ;
  -ms-animation: pulseline 1s ease-out infinite .5s ;
  -o-animation: pulseline 1s ease-out infinite .5s ;
  animation: pulseline 1s ease-out infinite .5s ;
}
@-webkit-keyframes pulseline {
  0%   {   width:2px;height:2px;opacity:1;left:0;top:0;box-shadow:0 0 0 0px #ef3a24;    }
  100% {  width:40px;height:40px;opacity:0;left:-20px;top:-20px;box-shadow:0 0 0 6px #e4443a;  }
}
@-moz-keyframes pulseline {
  0%   {   width:2px;height:2px;opacity:1;left:0;top:0;box-shadow:0 0 0 0px #ef3a24;    }
  100% {  width:40px;height:40px;opacity:0;left:-20px;top:-20px;box-shadow:0 0 0 6px #e4443a;  }
}
@-ms-keyframes pulseline {
  0%   {   width:2px;height:2px;opacity:1;left:0;top:0;box-shadow:0 0 0 0px #ef3a24;    }
  100% {  width:40px;height:40px;opacity:0;left:-20px;top:-20px;box-shadow:0 0 0 6px #ef3a24;  }
}
@-o-keyframes pulseline {
  0%   {   width:2px;height:2px;opacity:1;left:0;top:0;box-shadow:0 0 0 0px #ef3a24;    }
  100% {  width:40px;height:40px;opacity:0;left:-20px;top:-20px;box-shadow:0 0 0 6px #e4443a;  }
}
@keyframes pulseline {
  0%   {   width:2px;height:2px;opacity:1;left:0;top:0;box-shadow:0 0 0 0px #ef3a24;    }
  100% {  width:40px;height:40px;opacity:0;left:-20px;top:-20px;box-shadow:0 0 0 6px #ef3a24;  }
}
.circle-center{
  position:absolute;
  left:-7px;
  top:-7px;
  border-radius:50%;
  width:15px;
  height:15px;
  background:#ef3a24;
}
